<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pkan.official">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".mess.profile.MessDeliveryAreaEditActivity"></activity>
        <activity android:name=".mess.meals.MessSelectMealActivity" />
        <activity android:name=".mess.profile.MessDeliveryPersonsEditActivity" />
        <activity android:name=".mess.meals.MessMealDetailActivity" />
        <activity android:name=".mess.meals.MessAddNewMealActivity" />
        <activity android:name=".customer.history.CustomerHistoryActivity" />
        <activity android:name=".customer.order.CustomerOrderDetailsActivity" />
        <activity android:name=".mess.delivery.DeliveryHistoryActivity" />
        <activity android:name=".mess.delivery.DeliveryMainActivity" />
        <activity android:name=".customer.order.CustomerConfirmOrderActivity" />
        <activity android:name=".customer.home.CustomerMealDetailActivity" />
        <activity android:name=".customer.history.CustomerHistoryDetailActivity" />
        <activity android:name=".mess.history.MessHistoryDetailActivity" />
        <activity android:name=".mess.profile.MessPaymentOptionsEditActivity" />
        <activity android:name=".mess.profile.MessOwnerProfileEditActivity" />
        <activity android:name=".mess.profile.MessBasicProfileEditActivity" />
        <activity android:name=".payments.PaymentsActivity" />
        <activity android:name=".customer.plans.CustomerPlanSelectActivity" />
        <activity android:name=".mess.MessMainActivity" />
        <activity android:name=".customer.CustomerMainActivity" />
        <activity android:name=".customer.profile.CustomerProfileEditActivity" />
        <activity android:name=".login.LoginActivityVerifyOtp" />
        <activity android:name=".login.LoginActivityPhoneNumber" />
        <activity android:name=".LandingPageActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="rzp_test_wO1ldByMjpVeG2" />
    </application>

</manifest>